<div *ngIf="loginSvc.loggedIn" class="card">
    <div class="card-header text-left">
        <!-- FIXME Write 'New' password entry if id is equal to -1 and hide the id -->
        <h5><span [hidden]="(id !== -1)">New&nbsp;</span><span>Password Entry</span></h5>
    </div>
    <div class="card-body">
        <form #entryForm="ngForm" class="form-inline">
        
        <!-- <div class="form-group"> -->
            <label for="date">Date</label>
            <input [(ngModel)]="model.date"  type="text" name="date" id="date" class="form-control my-1 mr-sm-2"
                autocomplete="off" required placeholder="Date (mm/dd/yyyy)"> 
        <!-- </div> -->

        <!-- <div class="form-group"> -->
            <label for="url">URL</label>
            <input [(ngModel)]="model.url" type="text" name="url" id="url" class="form-control my-1 mr-sm-2"
                autocomplete="off" required placeholder="URL"> 
        <!-- </div>         -->
    
        <!-- <div class="form-group"> -->
            <label for="username">Username</label>
            <input [(ngModel)]="model.username" type="text" name="username" id="username" class="form-control my-1 mr-sm-2" 
                autocomplete="off" required placeholder="Username">
        <!-- </div> -->

        <!-- <div class="form-group"> -->
            <label for="password">Password</label>
            <input [(ngModel)]="model.password" 
                type="{{passtype}}" 
                name="password" id="password" class="form-control my-1 mr-sm-2" 
                autocomplete="off" required placeholder="Password">
        <!-- </div> -->

            <label for="passwordVerification">Password Verification</label>
            <input [(ngModel)]="model.passwordVerification" 
                type="{{passtype}}"
                name="passwordVerification" id="passwordVerification" class="form-control my-1 mr-sm-2" 
                autocomplete="off" placeholder="Password Verification">                    

        <div class="row">
            <div class="col-md-1">
                <button [disabled]="entryForm.form.invalid" (click)="createOrEditEntry(); resetForm();" class="btn btn-primary my-1" >Save</button>
            </div>
            <div class="col-md-1">
                <button (click)="toggleShowPasswords()" class="btn btn-primary my-1 shadow-none" >{{btnShowText}}</button>
            </div>            
        </div>
      
        </form>
  
    </div>
</div>