<div *ngIf="loginSvc.loggedIn" class="card">
    <div class="card-header text-left"><h5>Password Entry #{{id}}</h5></div>
    <div class="card-body">
        <form #entryForm="ngForm" class="form-inline">
        
        <!-- <div class="form-group"> -->
            <label for="date">Date</label>
            <input [(ngModel)]="model.date"  type="text" name="date" id="date" class="form-control my-1 mr-sm-2"
                autocomplete="off" required placeholder="Date (mm/dd/yyyy)"> 
        <!-- </div> -->

        <!-- <div class="form-group"> -->
            <label for="url">URL</label>
            <input [(ngModel)]="model.url" type="text" name="url" id="url" class="form-control my-1 mr-sm-2"
                autocomplete="off" required placeholder="URL"> 
        <!-- </div>         -->
    
        <!-- <div class="form-group"> -->
            <label for="username">Username</label>
            <input [(ngModel)]="model.username" type="text" name="username" id="username" class="form-control my-1 mr-sm-2" 
                autocomplete="off" required placeholder="Username">
        <!-- </div> -->

        <!-- <div class="form-group"> -->
            <label for="password">Password</label>
            <input [(ngModel)]="model.password" type="password" name="password" id="password" class="form-control my-1 mr-sm-2" 
                autocomplete="off" required placeholder="Password">
        <!-- </div> -->

        <button [disabled]="entryForm.form.invalid" (click)="createOrEditEntry(); resetForm();" class="btn btn-primary my-1" >Save</button>
      
        </form>
  
    </div>
</div>