<div class="container">
    <div *ngIf="loginService.loggedIn" class="container">
        <button (click)="editPasswordEntryForm()" class="btn btn-primary my-sm-5">Add New</button>
    </div>
    <table class="table container">
        <thead>
          <tr>
            <th></th>
            <th scope="col">Date</th>
            <th scope="col">URL</th>
            <th scope="col">Username</th>
            <th scope="col">Password</th>
            <th></th>
          </tr>
        </thead> 
        <tbody>
            <!-- <tr>
                <td style="width:20px;">
                    <a><span class="detailIcon"><i class="fas fa-info-circle"></i></span></a>
                </td>
                <td>date1</td>
                <td>url1</td>
                <td>user1</td>
                <td>****</td>
                <td style="width:20px;">
                    <a><span><i class="fas fa-eye"></i></span></a>
                </td>
            </tr> -->
            <tr *ngFor="let entry of entries">
                <td style="width:20px;">
                    <a (click)="editPasswordEntryForm(entry.id)"><span class="detailIcon"><i class="fas fa-info-circle"></i></span></a>
                </td>
                <td>{{entry.date | date }}</td>
                <td><a>{{entry.url}}</a></td>
                <td>{{entry.username}}</td>
                <td>
                    <!-- FIXME: Avoid calling functions inside templates inside double braces, use variables  -->
                    <!-- <ng-template [ngIf]="showEntryPassword(entry.id)" [ngIfElse]="passwordNotShown"> -->
                    <ng-template [ngIf]="showPassword[entry.id]" [ngIfElse]="passwordNotShown">
                        <!-- <span>{{decryptPassword(entry.password)}}</span> -->
                        <span>{{pwToShow[entry.id]}}</span>
                    </ng-template>
                    <ng-template #passwordNotShown>
                        <span>****</span>
                    </ng-template>
                </td>
                <td style="width:20px;">
                    <a (click)="toggleShowEntryPassword(entry.id)"><span><i class="fas fa-eye"></i></span></a>
                </td>                  
            </tr>
        </tbody>
    </table>
</div>
